﻿<table cellspacing=0 cellpadding=10 border=4 bordercolor="#000000">
<tr>
<td height=50 width=80 bgcolor="#FFCC33" align="center" colspan=2>1x1</td>
<td width=100 bgcolor="#336699" align="center" rowspan=2 valign="top">1x2</td>
</tr>
<tr>
<td height=50 width=80 bgcolor="#336699" align="center">2x1</td>
<td width=100 bgcolor="#FFCC33" align="center">2x2</td>
</tr>
</table>