#main{
	background-color: fff;
	min-height:70%;
	width:80%;
	border: solid 5px;
	border-color: green;
	border-radius:5px 5px 0px 0px;
	margin-left:10%;
	margin-right:10%;
	margin-top:5%;
	padding-left:15px;
	padding-right:15px;
}

#logon{
	font-size:50px;
	font-family: Berlin Sans FB;
	color: green;
}

body{
	margin:0;
	font-size: 24px;
}

#bottom{
	background-color: green;
	height:50px;
	width:80%;
	border: solid 5px;
	border-color: green;
	border-radius:0px 0px 5px 5px;
	margin-left:10%;
	margin-right:10%;
	padding-left:15px;
	padding-right:15px;
}

#logo{
	width: 150px;
	height: 150px;
}

#main > p > span {
	color: red;
}

hr{
	border:none;
	color:green;
	background-color:green;
	height:2px;
}

#uptime{
	color:green;
	font-size:29px;
}

#memory{
	color: red;
	font-size:29px;
}

#dvig{
	position:fixed;
    left:-180px;
	top:30px;
    padding:15px;
    line-height:25px;
    background-color:green;
    width:180px;
    box-shadow:5px 3px  5px rgba(0,0,0,0.2);
    transition-property:left;
    transition-duration: 1s;
    transition-timing-function: easy-out;
}

#dvig:hover{
	left:20px;
}

#dvig > a{
	line-height:38px;
	font-family:Elephant;
	text-decoration:none;
	color:fff;
}