﻿body {
	font: 14px Tahoma, sans-serif;
	background-color: #C0C0C0;
	background-position: center;
}
#main{
	margin: auto;
	width:800px;
	padding-top:30px;;
}
hr{
	border: none;
	background-color:#000000;
	color: #000000;
	height:1px;
	width:300px;
}
#head{
	background-color:#A8A8A8;
	padding:20px;
	border-radius:10px;
	box-shadow:inset 0 0 14px rgba(0,0,0,0.2);
	font-size:50px;
	font-family: Arial Black;
	text-align:center;
	line-height:40px;
}
#body{
	border-radius:10px;
	margin-top:40px;
	background-color:#A8A8A8;
	padding:20px;
	box-shadow:inset 0 0 14px rgba(0,0,0,0.2);
}
#output{
	border-radius:10px;
	margin-top:30px;
	background-color:#A8A8A8;
	padding:20px;
	box-shadow:inset 0 0 14px rgba(0,0,0,0.2);
}