div {
	display: block;
}
body {
	color:#eeeeee;
	font: 14px Tahoma, sans-serif;
	background-color: #2b2c2b;
	background-position: center;
	background-attachment: fixed;
	margin: auto;
	width: 960px;
}
input[type="text"] {
    background-color: #222;
    border: 1px solid #555;
    height: 21px;
    color: #b2b2b2;
    padding-left: 5px;
    vertical-align: top;
    font-weight:bolder;
}
button {
	color:#ddd;
	background-color: #222;
	border: 1px solid #555;
	height: 25px;
	width: 128px;
	font: 1em 'Arial Black';

}
img{
	max-width: 100%;
	max-height: 100%;
}
header{
	position: relative;
	background-color:#222;
	height:200px;
	width:960px;
	margin: auto; 
}
header > a > img {
	padding-left: 50px;
	padding-top: 50px;
}
header  > form  {
	position: absolute;
	right:20px;
	bottom: 10px;
}
header > #submenu{
	position:absolute;
	bottom: 5px;
	left: 8px;
	font-size:1.5em;
}
#mainframe{
	position: absolute;
	padding:0px;
	background-color:#111;
	margin-top: 10px;
	width: 960px;
	border-radius: 5px;
	min-height: 800px;
}
#mainframe > menu > ul{
	padding: 0px;
	margin-top: 0px;
	list-style: none;	
	margin: auto;
}

#mainframe > menu > ul > li{
	display: list-item;
	float:left;
}
#mainframe > menu > ul > li > a{
	display: block;
	color:#aaa;
	font-size: 0.91em;
	text-align: center;
	width: 128px;
	height: 19px;
	border: 1px solid #2f2f2f;
	background-color: #181818;
	padding-top: 5px;
	margin-left: 6px;
	margin-top: 4px;
}
#mainframe > menu >  ul > li > a:hover {
	color:#ccc;
	border: 1px solid #444;
	background-color: #333;
}
menu{
	margin-top: 0px;
	width:100%;
	position: relative;
	float: left;
}
#changbar{
	position: relative;
	background-color: #181818;
	height: 20px;
	left: 5px;
	margin-left:0.5%;
	margin-top: 0px;
	width: 640px;
	float: left;	
	text-align: center;
}
#cont{
	position: relative;
}
#rightcol{
	position: relative;
	float:right;
	margin-top: 0px;
	right: 7px;
	margin-bottom: 30px;
	padding-top: 3px;
	padding-bottom: 5px;
	background-color: #181818;
	width: 296px;
	border: 1px solid #222;
}
#profile{
	background-color: #222;
	margin-top: 10px;
	margin-left:13px;
	padding:5px;
	border: 1px solid #333;
	width: 260px;
	line-height: 14px;
	color:#eee;
	font-family:Franklin Gothic Book;
}
#recomend{
	background-color: #222;
	margin-top: 10px;
	margin-left:13px;
	padding:5px;
	border: 1px solid #333;
	width: 260px;
	line-height: 14px;
	color:#eee;
	text-align:right;
	font-family:Franklin Gothic Book;
	min-height: 400px;
}
#profile > span{
	font-size:1.2em;
	font-weight:bolder;
}
#recomend > span{
	font-size:1.2em;
	font-weight:bolder;
}
#profile > img{
	float:right;
	border: 2px solid #333;
	max-height: 104px;
	max-width: 104px;
}
div.film{
	background-color: #222;
	margin-top: 5px;
	margin-left: 5px;
	border: 1px solid #333;
	line-height: 14px;
	color:#eee;
	font-family:Franklin Gothic Book;
	width: 120px;
	text-align: center;
	padding-top:3px;
	padding-bottom:3px;
	float:left;
	
}
footer{
	position: absolute;
	bottom: 5px;
	background-color: #222;
	border: 1px solid #333;
	color:#eee;
	font-family:Franklin Gothic Book;
	width:98%;
	margin-left:1%;
	margin-right:1%;
	text-align:center;
}
a {
	text-decoration: none;	
	color:#eee;	
}
#recomend > pre{
	text-align: center;
}
