﻿BODY{
margin:0;
background:linear-gradient(360deg,38CE3F,FFF000);
}
#CONTENT{
margin:10% 10%;
background:linear-gradient(F7FFB2,F4FF94);
padding:20px;
border-radius:5px;
padding-bottom:300px;
min-width:750px;
}
#MENU{
display:block;
margin-right:20px;
margin-bottom:10px;
background-color:FFF3D1;
color:ffffff;
float:left;
width:200px;
padding:15px;
border-radius:10px;
box-shadow:5px 5px 3px rgba(0,0,0,0.3);
font-family:Arial Black;
}
FOOTER{
position:fixed;
bottom:0;
padding:10px;
padding-left:30px;
background:38CE3F;
width:100%;
margin:0;
}
ARTICLE{
font-size:20px;
font-family:Arial;
}
.MENU_B:hover{
background:FFC66C;
color:008D0D;
box-shadow:0px 0px 10px 5px rgba(0,0,0,0.1);
padding-left:15px;
}
.MENU_B_NOW{
box-shadow:0px 0px 10px 5px rgba(0,0,0,0.1);
background-color:FFCD35;
padding-left:15px;
}
A{
text-decoration:none;
color:000000;
}
#AUTHER{
font-size:20px;
font-weight:bolder;
text-decoration:underline;
}
#gallery{
padding:10px;
margin:10px;
}
.gallery{
height:300px;
}