#header{
box-shadow:0 0 10px 0 FFFFFF;
background:#000000;
width:100%;
margin-left:0px;
margin-right:0px;
height:10%;
font-size:3em;
padding:1%;
font-family:Impact;
color:#FFFFFF;
}
body{
margin:0px;
background:url(img/bg.jpg);
background-size:cover;
}
#main{
box-shadow:0 0 10px ;
padding:1%;
background:#FFFFFF;
width:78%;
margin-left:10%;
margin-right:10%;
min-height:78%;
}
#footer{
box-shadow:0 0 10px ;
background:#000000;
width:78%;
margin-left:10%;
margin-right:10%;
padding:1%;
text-align:center;
font-size:1.5em;
}
fieldset{
width:50%;
}