body{
	background-color: #f5f5dc;
}

header > #title_left{
	background-color: #0000ff;
	font: bolder 20pt 'Times New Roman';
	padding: 20px;
	width: 60%;
	float: left;
	height: 150px;
}

header > #title_right{
	background-color: #ffffff;
	height: 150px;
	padding: 20px;
	text-align: center;
	font: 11pt 'Times New Roman';
	color:#0000ff;
}

#bigtext{
	font: bold 25pt 'Times New Roman';
	color: #0000ff;
	text-align: center;
}

#left_form{
	display: inline;
	float: left;
	width: 40%;
}

#right_map{
	font: 15pt 'Times New Roman';
	float:right;
	width: 60%;
	text-align: right;
}


#menu{
	margin-left: 15%;
	margin-right: 15%;
	background-color: #0000ff;
	text-align: center;
	vertical-align: center;
	font: 25px 'Times New Roman';
	box-shadow:3px 3px 10px 1px rgba(0,0,0,0.2);
}

#menu > ul{
	list-style: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
}

#menu > ul > li > a{
	text-decoration: none;
	color: #ffffff;
}

#menu > ul > li{
	display: inline;
	margin-left: 2%;
	margin-right: 2%;
}

header{
	margin-left: 15%;
	margin-right: 15%;
	color: #ffffff;
	box-shadow:3px 3px 10px 1px rgba(0,0,0,0.2);
}

#colon{
	background-color: #f0f8ff;
	margin-left: 15%;
	width: 66%;
	margin-right: 15%;
	box-shadow:3px 3px 10px 1px rgba(0,0,0,0.2);
	padding: 2%;
	color: #2a323b;
}

footer{
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 15px;
	width: 70%;
	background-color: #0000ff;
	text-align: center;
	vertical-align: center;
	font: 15px 'Times New Roman';
	box-shadow:3px 3px 10px 1px rgba(0,0,0,0.2);
	color: #ffffff;
}

#colon > img{
	float:right;
	height: 20%;
}

#free{
	color:#ff0000;
}

.blink {
  animation: blink-animation 0.5s steps(5, start) infinite;
  -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

header > #title_left > span{
	font: 13pt 'Times New Roman';
}

#online{
	background-color: #ffffff;
	color:#0000ff;
	padding: 20px;
	margin-right: 6%;
	margin-left: 72%;
	margin-top: 10px;
	border: 4px solid #0000ff;
	border-radius: 30px;
	text-transform: uppercase;
}

#contact{
	font: 15pt 'Times New Roman';
	text-align: right;
}

.article{
	background-color: #ffffff;
	padding: 2%;
	margin: 2%;
	text-align: center;
	border-radius: 15px;
	border:4px solid #0000ff;
	color: #0000ff;
}
